@import 'src/Styles/sizes';

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

.pagination {
  margin: $indent-l 0;
  display: flex;
  justify-content: center;
}
