@import '../../../Styles/colors.css';
@import '../../../Styles/sizes.css';

.money-cell {
  font-weight: normal;
  color: var(--black-100);
  width: 100%;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.money-cell__line {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  border: 0;
  z-index: 0;
  background-color: var(--black-40);
}

.money-cell svg {
  z-index: 1;
}

.money-cell__text {
  position: absolute;
  z-index: 2;
}

.money-cell--active {
color: var(--orange-100);
}

.money-cell--active .money-cell__line {
  background-color: var(--orange-100);
}

.money-cell--active .money-cell__icon {
stroke: var(--orange-100);
}

.money-cell--disabled {
  color: var(--black-40);
}

.money-cell--disabled .money-cell__line {
  background-color: var(--black-40);
}

.money-cell--disabled .money-cell__icon {
  stroke: var(--black-40);
}

.money-cell--s {
  font-size: var(--font-xs);
  line-height: var(--lh-s);
}

.money-cell--s svg {
  height: 32px;
}

.money-cell--m {
  font-size: var(--font-s);
  line-height: var(--lh-m);
}
