@import '../../../../Styles/colors.css';
@import '../../../../Styles/sizes.css';

.Footer {
  grid-area: footer;
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: max-content;
}

.Footer__text {
  color: var(--black-40);
  font-weight: 400;
  font-size: var(--font-xs);
  line-height: 1.4;
  padding: 0;
}
