@import '../../../Styles/colors.css';
@import '../../../Styles/sizes.css';
@import '../../../Styles/start-page-base.css';

.main__title-total {
  opacity: .5;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: var(--font-m);
  line-height: var(--font-l);
}

@media (max-width: 920px) {
  .main__title-total {
    font-size: var(--font-xs-plus);
    line-height: var(--lh-s-plus);
  }
}
