@import 'src/Styles/sizes';
@import 'src/Styles/colors';
@import 'src/Styles/media';

.user {
  &__btn {
    &--cancel {
      border: 1px solid $black-40;
      background-color: $black-5;
      color: $white-10;
    }

    &--create,
    &--save {
      border: 1px solid $black-5;
      background-color: $white-10;

      &:hover {
        background-color: darken($white-10, 5);
      }
    }

    &--cancel,
    &--save,
    &--create {
      border-radius: $border-radius-s;
      padding: $indent-xxs $indent-xs;
      color: $black-100;
      font-size: $font-xs;
      margin: $indent-s $indent-m;
      transition: all 0.2s ease;

      &:hover {
        box-shadow: 0 5px 10px $black-5;
      }
    }
  }

  &__form {

    &__info:first-of-type {
      padding-top: 0;
    }

    .user__data {
      margin: $indent-xs 0 $indent-xs $indent-s;
      padding: $indent-xxs $indent-xs;
      border-radius: $border-radius-s;
      font-size: $font-xs;
      border: 1px solid $black-40;
      text-align: start;
      display: inline-flex;
      width: 100%;
    }

    .user__title {
      display: inline-flex;
      align-items: center;

      @include tablet {
        width: 100%;
      }
    }

    .user__info {
      padding: $indent-xxs $indent-s;
    }

    &--main {
      .user__info {
        flex-direction: column;
        justify-content: start;
        align-items: start;
      }

      .user__data {
        display: inline-flex;
        margin: $indent-xs 0 $indent-xs $indent-l;

        @include tablet {
          display: flex;
          margin: $indent-xs 0 $indent-xs $indent-s;
        }
      }

      .user__title {
        display: flex;
        align-items: baseline;
      }
    }
  }

  &:nth-child(3n + 2) {
    margin-left: $indent-l * 2;
    margin-right: $indent-l * 2;

    @include desktop {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &:nth-child(even) {
    @include desktop {
      margin-left: auto;
    }
  }
}
