@import '../../../../Styles/colors.css';
@import '../../../../Styles/sizes.css';

.MainLayout {
  grid-area: main;
  height: 100%;
  background-color: var(--black-5);
}

.MainLayout__answers-fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.MainLayout__answers-form {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-bottom: 122px;
  padding-top: 133px;
  height: 100%;
  background-color: transparent;
}

.MainLayout__answers-text {
  max-width: 624px;
  font-weight: 600;
  font-size: var(--font-m);
  line-height: var(--lh-l);
  padding: 0;
}

.MainLayout__answers-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0 0;
  max-width: 870px;
}

.MainLayout__answers-item {
  width: 420px;
}

.MainLayout__answers-item:nth-child(n + 3) {
  margin-top: 32px;
}

.MainLayout .btn {
  margin-top: 32px;
  width: max-content;
}

.MainLayout--loading {
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1400px) {
  .MainLayout__answers-item {
    width: auto;
  }
}

@media (max-width: 1350px) {
  .MainLayout__answers-item {
    width: 420px;
  }

  .MainLayout__answers-item:nth-child(n + 1) {
    margin-top: 32px;
  }
}

@media (max-width: 920px) {
  .MainLayout__answers-form {
    padding: 136px 0 40px 0;
  }

  .MainLayout__answers-fieldset {
    z-index: 2;
    display: flex;
    flex-direction: column;
  }

  .MainLayout__answers-text {
    text-align: center;
    padding: 0 16px;
    align-self: center;
  }

  .MainLayout__answers-item {
    flex-basis: 100%;
    width: 100%;
  }

  .MainLayout__answers-item + .MainLayout__answers-item {
    margin-top: 8px;
  }

  .MainLayout .btn {
    z-index: 2;
    align-self: center;
  }
}

@media (max-width: 600px) {
  .MainLayout .btn {
    width: calc(100% - 32px);
  }

  .MainLayout__answers-text {
    font-size: var(--font-s);
    line-height: var(--lh-s-plus);
  }
}

@media (max-width: 350px) {
  .MainLayout__answers-form {
    padding-top: 102px;
  }
}
